[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
	branch = v1.88
[submodule "third-party/DStruct"]
	path = third-party/DStruct
	url = git@github.com:Sunrisepeak/DStruct.git
[submodule "third-party/Hanim"]
	path = third-party/Hanim
	url = git@github.com:Sunrisepeak/Hanim.git
[submodule "third-party/XRecorder"]
	path = third-party/XRecorder
	url = git@github.com:Sunrisepeak/XRecorder.git
[submodule "third-party/imnodes"]
	path = third-party/imnodes
	url = git@github.com:Sunrisepeak/imnodes.git
